@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

#btnMenu,
label {
    display: none;
}


.navbar {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(238, 238, 238);
    padding: 10px;
    z-index: 100px;
}

.navbar .icon_menus {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    width: 250px;
}


.navbar .menu {
    display: flex;
    list-style-type: none;
    padding: 10px;
    z-index: -100px;
}

.navbar .menu li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: #333c;
    font-size: 1.2rem;
}

.navbar .menu li a:hover {
    background-color: rgba(16, 75, 4, 0.8);
    transition: .5s;
    border-radius: 10px;
    color: rgba(246, 246, 247, 0.8);
}

.navbar .menu li .submenu li {
    list-style-type: none;
}

.navbar .menu li .submenu {
    display: none;
    background-color: rgba(5, 76, 228, 0.8);
}

.navbar .menu li .submenu li {
    border: 1px solid #fff;
    border-bottom: 10px;
}

.navbar .menu li .submenu li a {
    display: block;
    color: #fff;
}

/* SECCIÓN HOME */

.home {
    width: 100%;
    height: 85.5vh;
    background-image: linear-gradient(rgba(68, 67, 67, 0.5), rgba(68, 68, 68, 0.5)), url('images/fondo_home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: center;
}

.home_desc {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    top: 240px;
    gap: 15px;
    padding: 15px 20px;
}

.home_desc h4 {
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
}

.home_desc p {
    color: #fff;
    font-size: 1.2rem;
}

.home_desc .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.home_desc .actions button {
    outline: none;
    width: 250px;
    padding: 15px;
    margin-top: 20px;
    background-color: rgba(5, 76, 228, 0.8);
    outline: none;
    color: #fff;
    cursor: pointer;
}

.home_desc .actions button:nth-child(2) {
    outline: none;
    width: 250px;
    padding: 15px;
    margin-top: 20px;
    background-color: rgba(16, 75, 4, 0.8);
    outline: none;
    color: #fff;
    cursor: pointer;
}

/* SECCIÓN DE LISTA DE EVENTOS */
.events {
    padding: 20px 10px;
    background-color: #0673b3;
}

.events h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 15px;
    color: #fff;
}

.events_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 10px 20px;
}

.events_list img {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.events_list .event_card {
    background-color: #fff;
    box-shadow: 0 10px 15px #0d56aa;
    border: 1px solid rgba(232, 233, 235, 0.8);
    border-radius: 10px;
    padding: 10px 15px;
}

.events_list .event_card h3{
    font-weight: 400;
    color: #0475f7;
}

.events_list .event_card .event_date{
    display: flex;
    align-items: center;
    gap: 10px;
    top: 5px;
    border-radius: 10px;
    position: relative;
    padding: 10px 15px;
    background-color: #555454;
    color: #f8fbfd;
}

.events_list .event_card .event_actions{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 15px;
}

.events_list .event_card .event_actions button{
    position: relative;
    padding: 10px;
    left: 65px;
    border: none;
    border-radius: 10px;
    background-color: rgba(37, 173, 9, 0.8);
    width: 150px;
    color: #f8fbfd;
    font-weight: 400;
    cursor: pointer;
}

.about-me .desc{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    padding: 25px 20px;
    gap: 15px;
    background-color: #03476e;
}

.about-me .desc div img{
    width: 350px;
    object-fit: cover;
}

.about-me .metas{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 35px 40px;
    margin: 10px 15px;
}

.about-me .metas h3{
    text-align: center;
    font-size: 1.5rem;
}

.about-me .metas .mision,.vision{
    border: 1px solid #131212;
    width: 550px;
    padding: 10px 20px;
    box-shadow:  0 10px #03377a;
    border-radius: 10px;
}

.about-me .desc  div{
    font-weight: 400px;
    color: #fff;
}

.contact{
    width: 100%;
    background-color: #0777b8;
}

.form_container{
    padding: 25px 20px;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2,1fr);
}
.form_container img{
    position: relative;
    width: 470px;
    object-fit: cover;
    left: 40px;
}


.form_container .form{
    display: flex;
    flex-direction: column;
    padding: 14p 10px;
}

.form_container .form h3{
    font-size: 2.1rem;
    text-align: center;
    font-weight: 400;
    color: #f8fbfd;
}

.form_container .form span{
    font-size: 1.2rem;
    color: #f8fbfd;
}

.form_container .form input[type=text],input[type=date]{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border-color: #0475f7;
}


.form_container .form input[type=submit]{
    margin-top: 20px;
    padding: 10px;
    background-color: #03377a;
    color: #f8fbfd;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.footer{
    width: 100%;
    background-color: #03297a;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    font-size: 1.5rem;
    cursor: pointer;
}


@media screen and (max-width: 900px) {
    .home_desc {
        top: 210px;
        font-size: 15px;
        text-align: center;
    }

    label {
        display: block;
        cursor: pointer;
        color: #131212;
        font-size: 2rem;
        color: rgba(5, 76, 228, 0.8);
    }

    .navbar {
        flex-direction: column;
    }

    .navbar .menu {
        position: absolute;
        width: 100%;
        left: -200%;
        top: 79px;
        flex-direction: column;
        background-color: #131212;
        z-index: 100px;
        transition: all ease-in-out .5s;
    }

    #btnMenu:checked~.menu {
        left: 0;
    }

    .events_list{
        grid-template-columns: repeat(1,1fr);
    }

    .events_list .event_card .event_actions button{
        left: 45px;
    }

    .about-me .desc{
        grid-template-columns: repeat(1,1fr);
    }

    .about-me .metas{
        grid-template-columns: repeat(1,1fr);
    }

    .form_container{
        grid-template-columns: repeat(1,1fr);
    }

    .form_container  img{
        width: 350px;
    }

    .about-me .metas{
        grid-template-columns: repeat(1,1fr);
    }
    .about-me .metas .mision,.vision{
        width: 350px;
        text-align: center;
        padding: 10px;
    }
}